[submodule "quartus/cpu/MonocycleCPU"]
	path = quartus/cpu/MonocycleCPU
	url = git@github.com:SalvadorPerezdelPino/MonocycleCPU.git
[submodule "quartus/cpu/MulticycleCPU"]
	path = quartus/cpu/MulticycleCPU
	url = git@github.com:SalvadorPerezdelPino/MulticycleCPU.git
[submodule "quartus/cpu/PipelineCPU"]
	path = quartus/cpu/PipelineCPU
	url = git@github.com:SalvadorPerezdelPino/PipelineCPU.git
